body {
  background-color: #F8F2E9;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('Patrick-Music.jpg');
  min-height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 140px 0 0 0;
    color: white;
  }
}

@media only screen and (max-width: 991px) {
  .home-button-link {
    margin-left: 0 !important;
    justify-content: center;
  }
}
