.collapsible {
  background-color: #F8F2E9;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
}

.active, .year:hover {
  background-color:rgba($color: #e6c99f, $alpha: 1);
}

.active, .collapsible:hover {
  background-color:rgba($color: #e6c99f, $alpha: 1);
}

.playlist {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  // background-color: #f1f1f1;
}

.year {
  background-color: #F8F2E9;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  a:hover {
    background-color:rgba($color: #e6c99f, $alpha: 1);
    text-decoration: none;
    color: black;
  }
}