<nav class="navbar transparent navbar-expand-lg navbar-light">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/playlists/monthly_playlist">Monthly Playlists</a>
    <a class="navbar-brand" href="/playlists/special_playlist">Special Playlists</a>
    <a class="navbar-brand" href="/playlists/submission">Submissions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>