<div class="playlists-grid container-fluid px-0 mx-0">
  <h1 class="text-center">2018</h1>
  <div class="introduction container-fluid px-5 m-3">
    <p>2018 had throwbacks like me finally getting into Patti Smith and plenty of new albums like Janelle Monáe's <i>Dirty Computer</i> and Pusha T's <i>Daytona</i>. This was also the first time I listened to Kamasi Washington (who is unbelievably good) and when Robyn's <i>Honey</i> took the radio and the world for months (deservingly so). It was a good year for music.</p>
    <p>Clicking on any of the months below will show you that month's playlist and prompt you to log into Spotify if you're not already so you can enjoy the tunes.</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="row justify-content-md-center" style="display: block;">
      <h2 class="collapsible col-md text-center">January 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1mDYWeHTVTSLpfjQM06SyL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">February 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1lJ5V0Yic1TXLNPTfzhJbZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">March 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/088Og8FylChxF6MicSWRni" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">April 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4K2y7RWZmhLCywzgSqGVba" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">May 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6L94o2FQA4dOIBzQvOUvRb" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">June 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/0mLnSX1n6UIRoBlC7oGB72" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">July 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4RAxRo8sXCBVxDiwJ2Z9x0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">August 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/68gn3azBn7C1ifEZxMQvWL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">September 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1OwgjQvb2rcVyjkI3ishYe" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">October 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5cLsny2szjV1QdbDqkBEDW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">November 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5bGfFtvugxEmOle8zbucX1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">December 18
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/24Kdb8tIFD7nsdcrdOtXbh" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>