<div class="container-fluid p-0 m-0">
  <div class="d-flex" style="margin-left: 20%; margin-top: 56px;">
    <h2>See my monthly playlists</h2>
    <button type="button" class="btn btn-primary" style="margin-left: 8px;">CTA</button>
  </div>
  <div class="d-flex" style="margin-left: 50%; margin-top: 56px;">
    <h2>See my special playlists</h2>
    <button type="button" class="btn btn-primary" style="margin-left: 8px;">CTA</button>
  </div>
  <div class="d-flex" style="margin-left: 20%; margin-top: 56px;">
    <h2>Suggest music I may like</h2>
    <button type="button" class="btn btn-primary" style="margin-left: 8px;">CTA</button>
  </div>
</div>