<div class="container-fluid px-0 mx-0 bg-dark text-white">
  <div class="text-center">
    <h1>Heyo!</h1>
    <h2>Heyo!</h2>
    <h3>Heyo!</h3>
    <h4>Heyo!</h4>
    <h5>Heyo!</h5>
    <p>Heyo!</p>
  </div>
</div>