<div class="container-fluid p-0 m-0">
  <div class="hero-image">
    <div class="hero-text">
      <a class="spotify-follow" href="https://open.spotify.com/user/1210778120?si=3e41651dcec34dba" target="_blank"><i class="fab fa-spotify"> Follow</i></a>
      <h3>I listen to a lot of music. Check out some of my playlists below or send me suggestions for what I should listen to next!</h3>
    </div>
  </div>
  <div class="d-flex home-button-link" style="margin-left: 20%; margin-top: 56px;">
    <a href="/playlists/monthly_playlist"><h2>See my monthly playlists</h2></a>
    <a href="/playlists/monthly_playlist" class="btn btn-primary" style="margin-left: 8px;"><i class="far fa-calendar-check"></i></a>
  </div>
  <div class="d-flex home-button-link" style="margin-left: 50%; margin-top: 56px;">
    <a href="/playlists/special_playlist"><h2>See my themed playlists</h2></a>
    <a href="/playlists/special_playlist" class="btn btn-primary" style="margin-left: 8px;"><i class="fas fa-random"></i></a>
  </div>
  <div class="d-flex home-button-link" style="margin-left: 20%; margin-top: 56px;">
    <a href="/playlists/submission"><h2>Suggest music I may like</h2></a>
    <a href="/playlists/submission" class="btn btn-primary" style="margin-left: 8px;"><i class="far fa-lightbulb"></i></a>
  </div>
</div>