<div class="playlists-grid container-fluid px-0 mx-0">
  <div class="introduction container-fluid px-5 m-3">
    <p>In 2016, I started making monthly playlists of music I listened to a lot during that month. I was trying to force myself to listen to new stuff and, honestly, I've nailed it. I'm not saying all these songs are good. Plenty are bad and I wonder what I was doing listening to them so much and then putting them on a playlist in order to remember that I listended to them. BUT, they are all songs I listened to a lot during that month and most of them are songs that I hadn't really listened to before or at least hadn't heard in a long time.</p>
    <p>If you're interested in listening to some of these, just click on any of the years below to be taken to that year's page where you can stream each month's playlist (as long as you're logged into your Spotify account).</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md text-center"><h2><a href="/playlists/twenty_one">2021</a></h2>
    </div>
    <div class="col-md text-center"><h2><a href="/playlists/twenty">2020</a></h2>
    </div>
    <div class="col-md text-center"><h2><a href="/playlists/nineteen">2019</a></h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md text-center"><h2><a href="/playlists/eighteen">2018</a></h2>
    </div>
    <div class="col-md text-center"><h2><a href="/playlists/seventeen">2017</a></h2>
    </div>
    <div class="col-md text-center"><h2><a href="/playlists/sixteen">2016</a></h2>
    </div>
  </div>
</div>