<div class="playlists-grid container-fluid px-0 mx-0">
  <div class="introduction container-fluid px-0 mx-0 text-center">
    <h3 style="padding: 16px 0 16px 0;">A few years ago I started making monthly playlists of music I listened to a lot during that month. I was trying to force myself to listen to new stuff and it's  </h3>
  </div>
  <div class="row justify-content-md-center">
    <div class="collapsible col-md text-center">
        <h2>April 21</h2>
        <iframe src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </div>
    <div class="collapsible col-md text-center">
        <h2>March 21</h2>
        <iframe src="https://open.spotify.com/embed/playlist/7BeH0Bpn5kNpj3Q6F8u6uy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </div>
    <div class="collapsible col-md text-center">
        <h2>April 21</h2>
        <iframe src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </div>
  <div class="row justify-content-md-center">
    <div class="collapsible col-md text-center">
        <h2>April 21</h2>
        <iframe src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </div>
    <div class="collapsible col-md text-center">
        <h2>April 21</h2>
        <iframe src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </div>
    <div class="collapsible col-md text-center">
        <h2>April 21</h2>
        <iframe src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>