<div class="playlists-grid container-fluid px-0 mx-0">
  <div class="introduction container-fluid px-0 mx-0 text-center">
    <h3 style="padding: 16px 0 16px 0;">A few years ago I started making monthly playlists of music I listened to a lot during that month. I was trying to force myself to listen to new stuff and it's  </h3>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md text-center"><h2 class="year" style="border: green 2px solid">2021</h2>
      <div class="yearly-playlists 2021" style="display: none;">
        <h2 class="collapsible col-md text-center">April 21
          <iframe src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">March 21
          <iframe src="https://open.spotify.com/embed/playlist/7BeH0Bpn5kNpj3Q6F8u6uy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">February 21
          <iframe src="https://open.spotify.com/embed/playlist/5DiDpX8lpb26wNvamdTilI" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">January 21
          <iframe src="https://open.spotify.com/embed/playlist/3Ts8Rv7Jo33hyY95eED70V" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>