<div class="playlists-grid container-fluid px-0 mx-0">
  <h1 class="text-center">2019</h1>
  <div class="introduction container-fluid px-5 m-3">
    <p>Lizzo, The Mountain Goats, Jenny Lewis, Beyoncé on Spotify, and the best James Bond song that isn't a James Bond song but is instead a video game theme song. 2019 had everything!</p>
    <p>Clicking on any of the months below will show you that month's playlist and prompt you to log into Spotify if you're not already so you can enjoy the tunes.</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="row justify-content-md-center" style="display: block;">
      <h2 class="collapsible col-md text-center">January 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/2u3Pqp5aRjQRtetMaxeXPC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">February 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7uuhzGROYrkNGANCAfmMlR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">March 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/2GaQM4ORQaFI8z9zuFtuGL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">April 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/71mlFrU9eTEpAJLmtoROU8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">May 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/0VHXTRzYdRasWDqnpPkwHf" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">June 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7yCdzCFuWCZVHyEgero4o6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">July 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/0MR6OIh8ZwcUI5IXCyOX1F" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">August 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4FLFcNUCHlzQDVyZSAg3j7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">September 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1aM38V7ELpOxGmGSUMM9ZC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">October 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4slJYwcc5r24hvnon8Nusv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">November 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6EvuT30Y7I0fNhio5Isgym" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">December 19
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7yz6ATRIzZocAV7P3Q6QV4" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>