<div class="playlists-grid container-fluid px-0 mx-0">
  <div class="introduction container-fluid px-5 m-3">
    <p>In 2016, I started making monthly playlists of music I listened to a lot during that month. I was trying to force myself to listen to new stuff and, honestly, I've nailed it. I'm not saying all these songs are good. Plenty are bad and I wonder what I was doing listening to them so much and then putting them on a playlist in order to remember that I listended to them. BUT, they are all songs I listened to a lot during that month and most of them are songs that I hadn't really listened to before or at least hadn't heard in a long time.</p>
    <p>You can sort through the playlists below by clicking on the year(s) and month(s) that you want to see. And as long as you're logged into Spotify, you can listen to them here and follow me (hint hint).</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md text-center"><h2 class="year">2021</h2>
      <div class="row justify-content-md-center" style="display: none;">
        <h2 class="collapsible col-md text-center">January 21
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3Ts8Rv7Jo33hyY95eED70V" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">February 21
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5DiDpX8lpb26wNvamdTilI" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">March 21
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7BeH0Bpn5kNpj3Q6F8u6uy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">April 21
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
    <div class="col-md text-center"><h2 class="year">2020</h2>
      <div class="row justify-content-md-center" style="display: none;">
        <h2 class="collapsible col-md text-center">January 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6d38tyKnyh6Km0GSKgVWqC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">February 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1OOn0VMy2bK2sCLxXtGSGY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">March 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5q9I995xQ7NNCSXMgfcOE9" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">April 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5qugS6xSb2HpMnneyw7vIs" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">May 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/2cmOlNdWsbuUIZSaW9YuKY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">June 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5W9GHz9jL2ncB3siBlF2v8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">July 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7iXJp3Y5bJtCprHiowZcZG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">August 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/2amZP9xGpxEK2F8f57zjbj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">October 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7qxFz2us0nVxEzzIYSZcGP" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">November 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6eXSinIUUP84Np7fc9aaJO" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">December 20
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5sldVKszPGQd3mIwa871SQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
    <div class="col-md text-center"><h2 class="year">2019</h2>
      <div class="row justify-content-md-center" style="display: none;">
        <h2 class="collapsible col-md text-center">January 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/2u3Pqp5aRjQRtetMaxeXPC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">February 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7uuhzGROYrkNGANCAfmMlR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">March 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/2GaQM4ORQaFI8z9zuFtuGL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">April 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/71mlFrU9eTEpAJLmtoROU8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">May 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/0VHXTRzYdRasWDqnpPkwHf" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">June 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7yCdzCFuWCZVHyEgero4o6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">July 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/0MR6OIh8ZwcUI5IXCyOX1F" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">August 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4FLFcNUCHlzQDVyZSAg3j7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">September 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1aM38V7ELpOxGmGSUMM9ZC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">October 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4slJYwcc5r24hvnon8Nusv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">November 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6EvuT30Y7I0fNhio5Isgym" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">December 19
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7yz6ATRIzZocAV7P3Q6QV4" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md text-center"><h2 class="year">2018</h2>
      <div class="row justify-content-md-center" style="display: none;">
        <h2 class="collapsible col-md text-center">January 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1mDYWeHTVTSLpfjQM06SyL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">February 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1lJ5V0Yic1TXLNPTfzhJbZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">March 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/088Og8FylChxF6MicSWRni" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">April 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4K2y7RWZmhLCywzgSqGVba" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">May 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6L94o2FQA4dOIBzQvOUvRb" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">June 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/0mLnSX1n6UIRoBlC7oGB72" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">July 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4RAxRo8sXCBVxDiwJ2Z9x0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">August 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/68gn3azBn7C1ifEZxMQvWL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">September 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1OwgjQvb2rcVyjkI3ishYe" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">October 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5cLsny2szjV1QdbDqkBEDW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">November 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5bGfFtvugxEmOle8zbucX1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">December 18
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/24Kdb8tIFD7nsdcrdOtXbh" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
    <div class="col-md text-center"><h2 class="year">2017</h2>
      <div class="row justify-content-md-center" style="display: none;">
        <h2 class="collapsible col-md text-center">January 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7IuLmLSs09XCa9NRqJvFi6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">February 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3dWHNvqQGcHlQksR5LNszu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">March 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5SxWRkq1O5EeFR3foogGOv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">April 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/12MnlhjWHuaD8v0Qhjinua" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">May 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6d8yVCu2Sy5Y8ob45vlGaR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">June 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1A3c68P0ZBjdJg3gkhS35l" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">July 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4vOvq7LVXueIS3xEQLBrY7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">August 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/30OmdcmNDDraGbzvQ93bqr" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">September 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6819aWx5ryUVjKxywPv2lB" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">October 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3ro4yXIhCy9Uq6PkzwPmA8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">November 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1B0exMFsElM7yov5IR29RC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">December 17
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4EqmilIlGQFMzYZ5bnPCS8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
    <div class="col-md text-center"><h2 class="year">2016</h2>
      <div class="row justify-content-md-center" style="display: none;">
        <h2 class="collapsible col-md text-center">July 16
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7cGhmUVbq9SuNdJmaIDkvH" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">August 16
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3gBpX1XCvdFVhGvNLzttDs" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">September 16
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6E7qg6Ib5Mcwm45TdksqHl" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">October 16
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4P7016uvq6STxhH2zAv6IW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">November 16
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3RK7dPcAnGE2qdd7x6Sh25" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
        <h2 class="collapsible col-md text-center">December 16
          <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4z23LnhYeMjNvYNMYjNmo0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
        </h2>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>