<div class="playlists-grid container-fluid px-0 mx-0">
  <div class="introduction container-fluid px-5 m-3">
    <p>2017, the year of new artists like *checks notes* Billy Ocean and Fleetwood Mac. I'm embarassed to have only first listended to them so late in life but they are just terrific. Also some great new albums from Kendrick Lamar, LCD Soundsystem, St. Vincent, and Mister Heavenly.</p>
    <p>Clicking on any of the months below will show you that month's playlist and prompt you to log into Spotify if you're not already so you can enjoy the tunes.</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="row justify-content-md-center" style="display: block;">
      <h2 class="collapsible col-md text-center">January 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7IuLmLSs09XCa9NRqJvFi6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">February 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3dWHNvqQGcHlQksR5LNszu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">March 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5SxWRkq1O5EeFR3foogGOv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">April 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/12MnlhjWHuaD8v0Qhjinua" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">May 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6d8yVCu2Sy5Y8ob45vlGaR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">June 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1A3c68P0ZBjdJg3gkhS35l" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">July 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4vOvq7LVXueIS3xEQLBrY7" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">August 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/30OmdcmNDDraGbzvQ93bqr" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">September 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6819aWx5ryUVjKxywPv2lB" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">October 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3ro4yXIhCy9Uq6PkzwPmA8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">November 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1B0exMFsElM7yov5IR29RC" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">December 17
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4EqmilIlGQFMzYZ5bnPCS8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>