<div class="playlists-grid container-fluid px-0 mx-0">
  <h1 class="text-center">2016</h1>
  <div class="introduction container-fluid px-5 m-3">
    <p>2016 is a short playlist year because I only started creating them in July. But we get songs from the last good Kanye West album, Chance the Rapper's megahit, some Tegan and Sara jams, and more!</p>
    <p>Clicking on any of the months below will show you that month's playlist and prompt you to log into Spotify if you're not already so you can enjoy the tunes.</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="row justify-content-md-center" style="display: block;">
      <h2 class="collapsible col-md text-center">July 16
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7cGhmUVbq9SuNdJmaIDkvH" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">August 16
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3gBpX1XCvdFVhGvNLzttDs" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">September 16
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/6E7qg6Ib5Mcwm45TdksqHl" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">October 16
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4P7016uvq6STxhH2zAv6IW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">November 16
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3RK7dPcAnGE2qdd7x6Sh25" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">December 16
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4z23LnhYeMjNvYNMYjNmo0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>