<div class="playlists-grid container-fluid px-0 mx-0">
  <div class="introduction container-fluid px-5 m-3">
    <p>I've made a lot of monthly playlists but it's important to remember that months aren't THE ONLY way to divide songs into playlists. There's genres, artists, moods, and King Months (aka years).</p>
    <p>Below you can check out all the non-monthly playlists I've made. Just click the title to expand the player.</p>
  </div>
  <div class="row justify-content-md-center">
    <h2 class="collapsible col-md text-center">Rap Shuffle
      <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1DF0mG14GgZ43rCorInfFh" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </h2>
    <h2 class="collapsible col-md text-center">Country Shuffle
      <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4B35QSMOXMsj1xVEbSWvBg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </h2>
    <h2 class="collapsible col-md text-center">30 Good Songs
      <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/4UyChSgArDI3I8UT83mcHW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </h2>
    <h2 class="collapsible col-md text-center">2010s
      <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/1RVKsvkZzWjAwkKy8DzcuO" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
    </h2>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>