<div class="playlists-grid container-fluid px-0 mx-0">
  <h1 class="text-center">Submissions</h1>
  <div class="introduction container-fluid px-5 m-3">
    <p>There’s a million ways to discover new music but the best way is asking a friend for a suggestion. And because you’re visiting my website we’re now officially friends™. Just like my real life friends, you can now yell at me and force me to listen to music by adding your suggestions to the playlist below.</p>
    <p>You can open the playlist in the Spotify app by clicking the icon in the top right and add the song you want me to hear. I’m excited to listen to them and maybe add them to a playlist. As a note, it can take Spotify a bit to update the embedded playlists so the song you add may not show up on the playlist right away but I promise it’s there.</p>
  </div>
  <div class="justify-content-md-center text-center my-5">
    <iframe src="https://open.spotify.com/embed/playlist/7hnrjl5QnhmarlV7CEO9Sl" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>