<div class="playlists-grid container-fluid px-0 mx-0">
  <h1 class="text-center">2021</h1>
  <div class="introduction container-fluid px-5 m-3">
    <p>2021! That's this year right now. You're getting to enjoy playlists that are literally (not literally) hot off the presses. I've enjoyed the playlists I've made so far this year and you can expect new ones on the first of every month. Enjoy!</p>
    <p>Clicking on any of the months below will show you that month's playlist and prompt you to log into Spotify if you're not already so you can enjoy the tunes.</p>
  </div>
  <div class="row justify-content-md-center">
    <div class="row justify-content-md-center" style="display: block;">
      <h2 class="collapsible col-md text-center">January 21
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/3Ts8Rv7Jo33hyY95eED70V" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">February 21
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/5DiDpX8lpb26wNvamdTilI" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">March 21
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/7BeH0Bpn5kNpj3Q6F8u6uy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
      <h2 class="collapsible col-md text-center">April 21
        <iframe loading="lazy" src="https://open.spotify.com/embed/playlist/44IUYaBJjJEv3gHI8pK5AQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="display:none; margin:auto;"></iframe>
      </h2>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'collapsible' %>